* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.header {
  background: #89a8b2;
  color: #f1f0e8;
  text-align: center;
  width: 100%;
  padding: 40px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gridContainer {
  display: grid;
  width: 640px;
  height: 640px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.box {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.box:hover {
  background-color: lightgrey;
}

.mouseover {
  background: black;
}
